{% load static %}
<header id="header" class="py-3">
        <div class="header-top">
            <div class="container ">
                <ul class="d-flex justify-content-end align-items-center ml-auto ">
                    {% if  user.is_authenticated %}
                        <li><span class="text-white h5"> Xin chào {{user.username}}</span> &emsp; &emsp;</li>
                        <li class="active"><a href="{% url 'logout'%}">Đăng xuất</a></li>              
                    {% else %}
                        <li class="active"><a href="{% url 'login'%}">Đăng nhập</a></li>          
                    {% endif %} 
                     <li class="active"><a href="{% url 'dangky'%}">Đăng ký</a></li>
                </ul>
            </div>
        </div> <!-- End header-top  -->


        <div class="header-mid">
            <div class="container">
                <nav>
                    <a href="{% url 'index'%}">
                        <img src="{% static 'homepage/images/tongdai.jpg'%}" alt="" class="img-fluid">
                    </a>
                    <ul class="menu-top d-flex justify-content-end align-items-center ml-auto">
                        <li><a href="{% url 'index'%}">Promotions</a></li>
                        <li><a href="{% url 'pizza'%}">Pizza</a></li>
                        <li><a href="{% url 'pasta'%}">Pasta</a></li>
                        <li><a href="{% url 'appertizer'%}">Appertizers</a></li>
                        <li><a href="{% url 'drink'%}">Beverages & Dessert</a></li>
                    </ul>
                </nav>
            </div>
        </div> <!-- End header-mid  -->
    </header>