{% extends 'homepage/base.html' %}
{% load static %}
{% block cssblock%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'homepage/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="{% static 'homepage/Css-index/style.css' %}">
{% endblock %}
    <!-- Header  -->

    <!-- End Header  -->
{% block content %}
   <main>
           <!--  #drinks   -->
        <section id="drinks">
            <div class="container">
                <div class="row">
                {% if sp %}     
                {% comment %} truyền thống {% endcomment %}
                    <div class="col-lg-4 ">
                        {% for item in sp%}                     
                        {% if item.ten_loai ==  'Pizza truyền thống' %}
                        <div class="tile-drinks text-center">
                            <h3>{{item.ten_loai}}</h3>
                        </div>               
                        <div class="item text-center">
                            <figure>
                                <img src="/{{item.anh}}" alt="">
                                <figcaption>
                                    <h3 class="title-item">{{item.ten_sanpham}}</h3>
                                    <p>{{item.gia}} VNĐ</p>

                                </figcaption>
                                <div class="mb-4">
                                     <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Mua</a>
                                </div>
                            </figure>
                        </div>                        
                        {% endif %} 
                        {%endfor%}
                    </div>
                {% comment %} dòng thịt {% endcomment %}
                    <div class="col-lg-4 ">
                        {% for item in sp%}                     
                        {% if item.ten_loai ==  'Pizza dòng thịt' %}
                        <div class="tile-drinks text-center">
                            <h3>{{item.ten_loai}}</h3>
                        </div>               
                        <div class="item text-center">
                            <figure>
                                <img src="/{{item.anh}}" alt="">
                                <figcaption>
                                    <h3 class="title-item">{{item.ten_sanpham}}</h3>
                                    <p>{{item.gia}} VNĐ</p>

                                </figcaption>
                                <div class="mb-4">
                                     <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Mua</a>
                                </div>
                            </figure>
                        </div>                        
                        {% endif %} 
                        {%endfor%}
                    </div>
                {% comment %} hải sản {% endcomment %}
                    <div class="col-lg-4 ">
                        {% for item in sp%}                     
                        {% if item.ten_loai ==  'Pizza hải sản' %}
                        <div class="tile-drinks text-center">
                            <h3>{{item.ten_loai}}</h3>
                        </div>               
                        <div class="item text-center">
                            <figure>
                                <img src="/{{item.anh}}" alt="">
                                <figcaption>
                                    <h3 class="title-item">{{item.ten_sanpham}}</h3>
                                    <p>{{item.gia}} VNĐ</p>

                                </figcaption>
                                <div class="mb-4">
                                     <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Mua</a>
                                </div>
                            </figure>
                        </div>                        
                        {% endif %} 
                        {%endfor%}
                    </div>
                {% endif %}
                </div>
            </div>
        </section>
    </main>
        <!-- scrollUp    -->
          {% comment %} Đơn hàng {% endcomment %}
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                    <!-- modal-header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận mua</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>

                     <!-- modal-body -->
                <div class="modal-body">
                <form action="/action_page.php">
                        Thời gian nhận: <input type="number" name="quantity" min="15'" max="150'"> phút
                
                </form>
                <div class="dropdown mt-3 nav nav-pills mx-auto ">
                
                </div>
                </div>
                <span class="text-center d-flex justify-content-center">Quý khách vui lòng điền thông tin</span>
                <form action="#" class="form-modal">
                    <input type="text" placeholder="Họ và tên" id="usr" name="ten">
                    <input type="text" placeholder="Số điện thoại" id="usr" name="sdt">
                </form>

                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Xác nhận</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <a href="" id="scrollUp"></a>
{% endblock %}
  
            <!-- Modal  -->
    {% block jsblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'homepage/js/plugin.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/main.js' %}"></script>
    {% endblock %}
       
