{% extends 'homepage/base.html' %}
{% load static %}
{% block cssblock%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'homepage/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="{% static 'homepage/Css-index/style.css' %}">
{% endblock %}
    <!-- Header  -->

    <!-- End Header  -->
{% block content %}
   <main>
        <section id="drinks">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 ">
                        <div class="tile-drinks text-center">
                            <h3>Pizza truyền thống</h3>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/veg.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Pizza rau củ</h3>
                                    <p>159.000 VNĐ</p>

                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks " data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                <div class="mb-4">
                                     <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                                </div>
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/pepe.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Xúc xích ý</h3>
                                    <p>159.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                  <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/hawi.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Hawiian</h3>
                                    <p>159.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                 <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>

                    </div>
                    <div class="col-lg-4 ">
                        <div class="tile-drinks text-center">
                            <h3>Pizza dòng thịt</h3>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/sup.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">5 loại thịt đặc biệt</h3>
                                    <p>179.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks " data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/aloha.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Aloha</h3>
                                    <p>179.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/deluxe.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">5 loại thịt đặc biệt</h3>
                                    <p>179.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>

                    </div>
                    <div class="col-lg-4 ">
                        <div class="tile-drinks text-center">
                            <h3>Pizza hải sản</h3>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/pesto.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Pesto sốt xanh</h3>
                                    <p>239.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks " data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                 <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/deluxe.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Hải sản cao cấp</h3>
                                    <p>199.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                 <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>
                        <div class="item text-center">
                            <figure>
                                <img src="images/cock.jpg" alt="">
                                <figcaption>
                                    <h3 class="title-item">Hải sản nhiệt đới</h3>
                                    <p>199.000 VNĐ</p>
                                </figcaption>
                                <div class="dropdown mb-3">
                                    <button type="button" class="btn btn-drinks" data-toggle="dropdown">Cỡ nhỏ-Đế dày</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Cỡ vừa-Đế dày</a>
                                        <a class="dropdown-item" href="#">Cỡ lớn-Đế dày</a>
                                    </div>
                                    <!--ORDER TOAN BAI-->
                                </div>
                                 <a href="#" class="btn-drinks" data-toggle="modal"  data-target="#productModal" title="Quickview">Order</a>  
                            </figure>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </main>
        <!-- scrollUp    -->
    <a href="" id="scrollUp"></a>
{% endblock %}
  
            <!-- Modal  -->
    {% block jsblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'homepage/js/plugin.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'homepage/js/main.js' %}"></script>
    {% endblock %}
       
